header {
    position: fixed;
    top: 0.4rem;
    right: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    z-index: 200;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    background: var(--header-bg);
    backdrop-filter: blur(12px);
}

header>* {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
}



.dialog-visibility {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.theme {
    cursor: pointer;
}

.theme>svg {
    width: var(--large);
    fill: var(--highlight-color);
    fill-rule: evenodd;
    clip-rule: evenodd;
}

[data-theme="light"] .theme path:first-child {
    visibility: hidden;
}

[data-theme="dark"] .theme path:nth-last-child(-n + 2) {
    visibility: hidden;
}

.dialog-visibility>svg {
    width: var(--large);
    height: var(--large);
    fill: var(--highlight-color);
}

.github>svg {
    width: var(--large);
    fill: brown;
}

:root[data-current="visible"] .dialog-visibility {
    transform: rotate(-180deg);
}