main {
    display: grid;
    grid-template-columns: repeat(var(--x), 1fr);
    grid-template-rows: repeat(var(--y), 1fr);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: calc(100% - var(--header-height));
}

main>div {
    z-index: 0;
}

.hidden {
    display: none;
}