.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem
}

.settings * {
    color: var(--highlight-color);
    background-color: var(--dialog-background);
    border: none;
    font-size: 1rem;
}

.opacity-container * {
    color: var(--opacity-color);
}

.opacity-container>input {
    width: 4rem;
    accent-color: var(--opacity-color);
}

.opacity-container>span {
    margin-right: .4rem;
}

.opacity-container,
.dimensions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
}

.dimensions input[type=number]::-webkit-inner-spin-button,
.dimensions input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.dimensions input {
    -moz-appearance: textfield;
    border: 0;
    border-bottom: gray solid calc(1rem / 16);
}

.dimensions {
    display: flex;
    align-items: center;
}

.dimensions>button {
    cursor: pointer;
    margin: calc(1rem / 16);
}

.dimensions input {
    width: 1.1rem;
}

.dimensions input:invalid {
    outline: brown solid calc(1rem/16);
}