* {
  outline: yellowgreen solid 0px;
}
:root {
  --large: 1rem;
  --medium: calc(0.5 * var(--large));
  --header-height: 1.5rem;
}
:root[data-theme="dark"] {
  --primary-text-color: #eeeeee;
  --outer-background-color: #101114;
  --main-background-color: #1c1d22;
  --header-background-color: #2e3038;
}
:root[data-theme="light"] {
  --primary-text-color: black;
  --outer-background-color: yellow;
  --main-background-color: #f6f6ef;
  --header-background-color: #f0f3fa;
  color: cadetblue;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: var(--outer-background-color);
}
main {
  background-color: var(--main-background-color);
}
header {
  display: flex;
  background-color: var(--header-background-color);
  height: var(--header-height);
}
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dialog-visibility {
  margin-left: var(--medium);
}
.theme {
  margin-left: auto;
  margin-right: var(--medium);
}
.theme > svg {
  cursor: pointer;
  width: var(--large);
  fill: var(--primary-text-color);
  fill-rule: evenodd;
  clip-rule: evenodd;
}
[data-theme="light"] .theme path:first-child {
  visibility: hidden;
}
[data-theme="dark"] .theme path:nth-last-child(-n + 2) {
  visibility: hidden;
}
.dialog-visibility > svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: var(--primary-text-color);
  overflow: hidden;
  width: var(--large);
  height: var(--large);
}
.dialog-visibility {
  transition: all 0.3s ease-in-out;
}
:root[data-current="visible"] .dialog-visibility {
  transform: rotate(-180deg);
}
dialog {
  position: fixed;
  display: block;
  width: 100%;
  border: none;
  top: var(--header-height);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  height: 0%;
  padding: 0 10px;
  background-color: lightcoral;
}
dialog[open] {
  height: 100%;
  opacity: 1;
}
